#canvas .olControlAttribution {
    font-size:12px;
    font-style:oblique;
    bottom:3px;
    background-color:#FFFFFF;
}

#canvas .olControlScale {
    font-size:14px;
    font-weight:bold;
    color:red;
    position:absolute;
    right:350px;
    bottom:370px;
    background-color:#FFFFFF;
}

